<h1 style="display:inline-block; width: 500px; margin:auto; padding-left: 150px;padding-top: 50px; padding-bottom:20px">All Comments</h1>
<table class="table table-bordered" style="width: 600px; margin:auto; padding-bottom: 20px">
    <thead>
        <tr>
            <th>comments</th>
            <th>Products</th>
        </tr>
    </thead>
    <tbody>
        <% @comments.each do |c| %>
            <tr>
                <td><%= c.comment %></td>
                <td><%= c.product.name %></td>
            </tr>
        <% end %>
    </tbody>
</table>
<div style="width: 600px; margin:auto; padding-top: 20px">
    <a style="text-decoration: underline" href="/">Back</a>
</div>
